repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.21
    hooks:
      - id: uv-lock
      - id: uv-export
    # - id: pip-compile
    #   args: [requirements.in, -o, requirements.txt]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # - id: check-docstring-first
      - id: check-builtin-literals
      - id: check-ast

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter.
      # - id: ruff-check
      #   args: [ --fix ]
      #   exclude: | (?x)^( tests/.* )$
      # Run the formatter.
      - id: ruff-format
