certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
mega.py==1.0.8
pathlib==1.0.1
platformdirs==4.3.7
pycryptodome==3.22.0
Pygments==2.19.1
requests==2.32.4
rich==14.0.0
six==1.17.0
tenacity==5.1.5
textual==3.0.1
typing_extensions==4.13.1
uc-micro-py==1.0.3
urllib3==2.5.0
